.*
!.github
!.gitignore
__pycache__

# mcshell
*.egg-info
poetry.lock

# Ignore the bundled web application artifacts
/mcshell/data/app/

# Ignore Python build artifacts
/dist/

# ignore powers and scripts
powers/
scripts

# local venv config
poetry.toml

# generated code
---------------

/mced/src/blocks/[^a-z]*Actions.mjs
/mced/src/generators/python/[^a-z]*Actions.mjs
/mced/src/blocks/[^a-z]*Shapes.mjs
/mced/src/generators/python/[^a-z]*Shapes.mjs

/mced/src/blocks/registry.mjs
/mced/src/generators/python/registry.mjs

/mced/src/blocks/items.mjs
/mced/src/blocks/blocks.mjs
/mced/src/blocks/entities.mjs

/mced/src/generators/python/items.mjs
/mced/src/generators/python/blocks.mjs
/mced/src/generators/python/entities.mjs

/mced/src/generators/python/action_classes.mjs
/mced/src/toolbox.xml

/mcjuice/target/
/mcshell/data/mcjuice-*.jar

/mcshell/mcjuice.py
/mcshell/actions/generated_actions.py

/site





